body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-image: url(assets/table.jpg);
    background-size: cover;
    color: white;
}

h1 {
    color: goldenrod;
}

#message {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 5px;
}

.card {
    width: 75px;
    height: 100px;
    border: none;
    border-radius: 5px;
}